<nav class="navbar navbar-expand-lg navbar-light bg_navbar color_blanco">
  <a class="navbar-brand mr-auto" routerLink="/home">
    <img height="40"
         width="40"
         src="https://cdn.puntosleal.com/assets/img/logoleal2017.svg"
         alt="avatar">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="ml-auto">
      <li class="btn-group" role="group">
        <a id="btnGroupDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>
            <label>{{user.firstName}} {{user.lastName}}</label>
            <img class="rounded"
                 src="https://cdn1.iconfinder.com/data/icons/business-power-1/32/business_avatar_secure_security_shield_guard_safety-512.png"
                 alt="avatar"
                 height="40"
                 width="40">
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right pb-0" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="onLogout()">
            <label class="fonticon-classname text-muted" >Salir</label>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
